{% extends 'base.html' %}

{% block breadcrumbs %}
    <a href="{% url 'downloader:all' %}">/</a>
    <a href="{% url 'downloader:major' major.slug %}">{{ major }} /</a>
    <a href="{% url 'downloader:class' major.slug class_slug %}">{{ class_name }} /</a>
{% endblock %}

{% block content %}
    <h1>{{ class_name }}</h1>
    <ul>
        {% for file in files %}
            <li>
                <a href="{% url 'downloader:download_file' major_slug class_slug file.name %}">
                    {% include 'icons/file.svg' %}
                    {{ file.name }}
                </a>
                <a href="{% url 'downloader:download_file' major_slug class_slug file.name %}" download>
                    {% include 'icons/download.svg' %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
